/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
html {
  padding: 20px; }
  @media screen and (max-width: 500px) {
    html {
      padding: 20px 5px; } }

html, body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  background-color: #e0e0e0; }

.section-title {
  margin-bottom: 40px; }

.group-title {
  text-transform: uppercase;
  letter-spacing: 8px; }

.group-title {
  margin: 20px auto; }

.section {
  margin-bottom: 60px; }

.icons--small i {
  font-size: 25px; }

.icons--large i {
  font-size: 60px; }

.icons p {
  text-transform: capitalize; }

/* Typography */
h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-size: 37px;
  letter-spacing: .37px;
  font-weight: 700; }

h2 {
  font-size: 25px;
  letter-spacing: .825px; }

h3 {
  font-size: 18px;
  letter-spacing: .594px; }

h4 {
  font-size: 16px; }

p {
  font-size: 16px;
  letter-spacing: .528px; }

/* Structure */
html {
  padding: 20px; }
  @media screen and (max-width: 500px) {
    html {
      padding: 20px 5px; } }

html, body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  background-color: #e0e0e0; }

.section-title {
  margin-bottom: 40px; }

.group-title {
  text-transform: uppercase;
  letter-spacing: 8px; }

.group-title {
  margin: 20px auto; }

.section {
  margin-bottom: 60px; }

.icons--small i {
  font-size: 25px; }

.icons--large i {
  font-size: 60px; }

.icons p {
  text-transform: capitalize; }

/* Components */
.base-button, button, .button {
  font-size: 12px;
  border-radius: 50px;
  background-color: #C0CCCC;
  border: 1.6px solid #C0CCCC;
  color: white !important;
  padding: 12px 45px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 17px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  text-decoration: none !important; }

button.no-cursor {
  cursor: default; }

.button {
  display: inline-flex; }
  .button.no-cursor {
    cursor: default; }
  .button i {
    font-size: 17px;
    position: relative;
    top: 1px; }
  .button-grey-solid {
    border: 1.6px solid #C0CCCC;
    background-color: #c0cccc; }
    .button-grey-solid:hover {
      border-color: #b5c4c4;
      background-color: #b5c4c4; }
    .button-grey-solid > div {
      background-color: #B0C1C0; }
  .button-orange-solid {
    border: 1.6px solid #ff7800;
    background-color: #ff7800;
    box-shadow: 5px 5px 8px rgba(255, 120, 0, 0.65); }
    .button-orange-solid:hover {
      border-color: #f07000;
      background-color: #f07000; }
    .button-orange-solid > div {
      background-color: #D64C00; }
  .button-grey-outline {
    border: 1.6px solid #C0CCCC;
    background-color: transparent;
    color: #AFC0BF !important; }
    .button-grey-outline:hover {
      border-color: #aabbbb;
      color: #8da5a4 !important; }
    .button-grey-outline > div {
      background-color: transparent; }
  .button-icon-right {
    padding: 6px 6px 6px 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px; }
    .button-icon-right > div {
      order: 2;
      width: 30px;
      border-radius: 100%;
      padding: 6px;
      margin-left: 5px; }
  .button-icon-left {
    padding: 6px 34px 6px 6px;
    font-weight: 400; }
    .button-icon-left > div {
      width: 30px;
      border-radius: 100%;
      padding: 6px;
      margin-right: 23px; }

.input {
  border-radius: 30px;
  background-color: #EBF2F2;
  border: none;
  padding: 0 0 0 10px;
  width: 100%;
  padding: 13px 10px;
  padding-left: 25px;
  padding-right: 50px;
  outline: none;
  color: #728783;
  font-size: 12px;
  letter-spacing: 1px;
  position: relative; }
  .input::-webkit-input-placeholder {
    color: #72878397; }
  .input::-moz-placeholder {
    color: #72878397; }
  .input:-ms-input-placeholder {
    color: #72878397; }
  .input::-ms-input-placeholder {
    color: #72878397; }
  .input::placeholder {
    color: #72878397; }
  .input-without-icon {
    padding-right: 25px; }
  .input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px; }
    .input-icon img {
      width: 100%; }

input[type=checkbox], input[type=radio] {
  position: relative;
  background-color: #EBF2F2;
  -webkit-appearance: none;
  min-width: 18px;
  min-height: 18px;
  max-width: 18px;
  max-height: 18px;
  margin-right: 8px;
  cursor: pointer; }
  input[type=checkbox] label, input[type=radio] label {
    font-size: 12px; }
  input[type=checkbox]:after, input[type=radio]:after {
    content: '';
    background-color: #FF7800;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
    opacity: 0; }
  input[type=checkbox]:checked:after, input[type=radio]:checked:after {
    width: 9px;
    height: 9px;
    opacity: 1; }
  input[type=checkbox].checkbox-square, input[type=checkbox].radio-square, input[type=radio].checkbox-square, input[type=radio].radio-square {
    border-radius: 4px; }
    input[type=checkbox].checkbox-square:after, input[type=checkbox].radio-square:after, input[type=radio].checkbox-square:after, input[type=radio].radio-square:after {
      border-radius: 2px; }

.checkbox, .radio {
  display: flex;
  align-items: center;
  color: #728783; }

.dropdown-box, .dropdown-account-box, .dropdown-status-box {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
  .dropdown-box .triangle, .dropdown-account-box .triangle, .dropdown-status-box .triangle {
    display: block;
    height: 20px;
    width: 20px;
    background-color: inherit;
    border: inherit;
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(135deg);
    border-radius: 0 0 0 0.25em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
  .dropdown-box.with-padding, .with-padding.dropdown-account-box, .with-padding.dropdown-status-box {
    padding: 20px; }

.dropdown-field {
  position: relative;
  border-radius: 100px;
  padding: 12px 55px 12px 30px;
  background-color: #ebf2f2; }
  .dropdown-field span {
    font-weight: 700;
    color: #4d5b59;
    font-size: 12px; }
  .dropdown-field img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px; }

.dropdown-account-box {
  padding: 15px;
  position: relative; }
  .dropdown-account-box .dropdown-content {
    display: flex;
    align-items: center; }
    .dropdown-account-box .dropdown-content img {
      width: 45px;
      height: 45px;
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 10px;
      margin-right: 17px; }
    .dropdown-account-box .dropdown-content-text p {
      font-weight: 400;
      color: #b0c1c0;
      margin: 0;
      font-size: 12px; }
      .dropdown-account-box .dropdown-content-text p strong {
        color: #4d5b59; }
      .dropdown-account-box .dropdown-content-text p:last-child {
        text-transform: uppercase; }
  .dropdown-account-box-button {
    margin-top: 10px;
    width: 100%;
    background-color: #ebf2f2;
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    border: none;
    color: #4d5b59;
    font-size: 15px; }
    .dropdown-account-box-button img {
      width: 17px;
      margin-left: 10px; }

.dropdown-status-box-status, .dropdown-status-box-notification {
  padding: 13px; }
  .dropdown-status-box-status label, .dropdown-status-box-notification label {
    margin-top: 10px;
    line-height: 13px;
    color: #B0C1C0;
    font-size: 12px; }

.dropdown-status-box-status {
  padding-bottom: 0; }
  .dropdown-status-box-status input[type=text] {
    background-color: #EBF2F2;
    border-radius: 10px;
    padding: 12px 15px;
    color: #B0C1C0;
    font-size: 12px; }

.dropdown-status-box-notification {
  padding-top: 0; }
  .dropdown-status-box-notification > span {
    font-weight: 700;
    color: #728783;
    font-size: 14px;
    letter-spacing: .8px; }
  .dropdown-status-box-notification .dropdown-field {
    margin-top: 8px; }
    .dropdown-status-box-notification .dropdown-field span {
      font-weight: 400;
      color: #B0C1C0; }

.dropdown-status-box .dropdown-content hr {
  width: 100%;
  height: 2px;
  background-color: #EBF2F2;
  border: none; }

.company-box {
  background-color: white;
  width: 100%;
  position: relative;
  border-radius: 53.39px;
  overflow: hidden; }
  .company-box__menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 115px; }
  .company-box__header {
    height: 288px;
    position: relative;
    display: flex;
    border-radius: 53.39px; }
    .company-box__header--image {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      border-radius: 53.39px; }
    .company-box__header:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 53.39px; }
    .company-box__header--wrapper {
      position: absolute;
      bottom: 32px;
      left: 30px;
      display: flex;
      align-items: center;
      padding-right: 30px;
      flex-wrap: wrap; }
      .company-box__header--wrapper img {
        width: 83px; }
      .company-box__header--wrapper > div {
        margin-left: 10px; }
        .company-box__header--wrapper > div p {
          margin: 0;
          color: white; }
          .company-box__header--wrapper > div p:first-child {
            font-weight: 800;
            font-size: 20px; }
          .company-box__header--wrapper > div p:last-child {
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px; }
  .company-box__actions {
    padding: 0 25px 10px 25px; }
    .company-box__actions--wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .company-box__actions--wrapper > button {
        margin-bottom: 15px; }
    .company-box__actions--button {
      transform: translateY(-50%);
      margin: 0 auto 10px auto; }
      @media screen and (max-width: 380px) {
        .company-box__actions--button {
          transform: translateY(-20%); } }
    .company-box__actions--options {
      width: 40px;
      margin-left: 10px; }
    .company-box__actions--left {
      display: flex;
      flex-wrap: wrap; }
      .company-box__actions--left button, .company-box__actions--left > img {
        margin-bottom: 10px; }
  .company-box__match-button {
    padding: 10px 18px;
    background-color: #9ADB4D;
    border: 1px solid #9ADB4D; }
    .company-box__match-button img {
      width: 26px;
      display: flex;
      align-items: center;
      margin-right: 10px; }
    .company-box__match-button.hidden-gem {
      background-color: #0081A0;
      border: 1px solid #0081A0; }
  .company-box .action-menu {
    position: absolute;
    top: 4px;
    right: 48px; }

.action-menu {
  background-color: white;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.06);
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  position: relative; }
  .action-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .action-menu ul li {
      margin: 0 4px; }
  .action-menu__button {
    border-radius: 100%;
    background-color: #ebf2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: none;
    position: relative;
    padding: 0; }
    .action-menu__button img {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -o-object-fit: contain;
         object-fit: contain; }
    .action-menu__button > img:first-of-type {
      visibility: visible; }
    .action-menu__button > img:last-of-type {
      visibility: hidden; }
    .action-menu__button:hover img:first-of-type {
      visibility: hidden; }
    .action-menu__button:hover img:last-of-type {
      visibility: visible; }
    .action-menu__button:hover {
      background-color: #FF7800; }
  .action-menu .triangle {
    display: block;
    height: 20px;
    width: 20px;
    background-color: inherit;
    border: inherit;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    transform: rotate(226deg) translate(20%, 47%);
    border-radius: 0 0 0 0.25em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

.tag {
  border-radius: 50px;
  background-color: #ff7800;
  box-shadow: 6px 6px 8px rgba(255, 120, 0, 0.6);
  padding: 10px 18px;
  font-weight: 700;
  color: white;
  display: inline-flex;
  align-items: center;
  font-size: 12px; }
  .tag img {
    width: 14px;
    height: 14px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 10px;
    cursor: pointer; }

.filter-box {
  background-color: white;
  padding: 30px;
  border-radius: 53.39px;
  position: relative; }
  .filter-box__menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 115.18px; }
  .filter-box--title {
    font-weight: 700;
    font-size: 14px;
    color: #728783; }
  .filter-box--label {
    color: #728783;
    font-size: 14px;
    text-align: center;
    margin-top: 10px; }
  .filter-box__section {
    margin-bottom: 5px; }
    .filter-box__section:last-of-type {
      margin-bottom: 0; }
    .filter-box__section--items {
      display: flex;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      flex-wrap: wrap; }
      .filter-box__section--items li {
        margin-right: 60px;
        margin-bottom: 15px; }
        @media screen and (max-width: 768px) {
          .filter-box__section--items li {
            margin-right: 40px; } }
    .filter-box__section--small-buttons button {
      padding: 12px; }
    .filter-box__section--small-margin li {
      margin-right: 10px; }
    .filter-box__section .button-grey-solid {
      background-color: #ebf2f2;
      border: 1px solid #ebf2f2;
      color: #4d5b59;
      font-weight: 400; }
  .filter-box__square-option {
    background-color: #ebf2f2;
    border-radius: 28px;
    padding: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    width: 85px;
    height: 85px; }
    .filter-box__square-option--white {
      background-color: white; }
    .filter-box__square-option img {
      width: 45px;
      height: 45px;
      -o-object-fit: contain;
         object-fit: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .filter-box__square-option.active > img:first-of-type, .filter-box__square-option > img:first-of-type {
      visibility: visible; }
    .filter-box__square-option.active > img:last-of-type, .filter-box__square-option > img:last-of-type {
      visibility: hidden; }
    .filter-box__square-option.active img:first-of-type, .filter-box__square-option:hover img:first-of-type {
      visibility: hidden; }
    .filter-box__square-option.active img:last-of-type, .filter-box__square-option:hover img:last-of-type {
      visibility: visible; }
    .filter-box__square-option.active span, .filter-box__square-option:hover span {
      color: white; }
    .filter-box__square-option.active ~ p, .filter-box__square-option:hover ~ p {
      color: #c0cccc; }
    .filter-box__square-option.active, .filter-box__square-option:hover {
      background-color: #ff7800;
      box-shadow: 6px 6px 8px #ff770095; }
    .filter-box__square-option--with-text {
      max-width: 85px;
      width: auto;
      height: auto;
      padding: 10px;
      max-width: 85px;
      min-width: 85px;
      min-height: 90px; }
      .filter-box__square-option--with-text img {
        width: 28px;
        height: 28px;
        -o-object-fit: contain;
           object-fit: contain;
        top: 15px;
        transform: translate(-50%, 0); }
      .filter-box__square-option--with-text span {
        font-size: 9px;
        font-weight: 400;
        text-align: center;
        margin: auto;
        display: block;
        margin-top: 40px; }
  .filter-box__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px; }
    .filter-box__tags > div {
      margin-right: 10px;
      margin-bottom: 10px; }
  .filter-box__slider {
    background-color: #ebf2f2;
    border-radius: 53.39px;
    padding: 35px 20px 20px 20px; }
    .filter-box__slider--slide {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 25px 10px;
      grid-template-areas: ". . . ." ". . . ." ". . . ."; }
      .filter-box__slider--slide .filter-box__square-option {
        margin: auto; }
      .filter-box__slider--slide::after {
        content: "";
        flex: auto; }
      @media screen and (max-width: 1500px) {
        .filter-box__slider--slide {
          gap: 15px 10px; } }
      @media screen and (max-width: 1280px) {
        .filter-box__slider--slide {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          grid-template-areas: ". . ." ". . ." ". . ." ". . ."; } }
      @media screen and (max-width: 1040px) {
        .filter-box__slider--slide {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
          gap: 15px 15px;
          grid-template-areas: ". ." ". ." ". ." ". ." ". ."; } }
      @media screen and (max-width: 767px) {
        .filter-box__slider--slide {
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          grid-template-areas: ". . ." ". . ." ". . ." ". . ."; } }
      @media screen and (max-width: 560px) {
        .filter-box__slider--slide {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
          grid-template-areas: ". ." ". ." ". ." ". ." ". ."; } }
      @media screen and (max-width: 580px) {
        .filter-box__slider--slide {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-areas: "." "." "." "." "." "."; } }
    .filter-box__slider .slider-track {
      position: relative;
      left: 50%;
      transform: translateX(-50%); }
  @media screen and (max-width: 460px) {
    .filter-box {
      padding: 30px 5px; } }

.slider-track {
  display: inline-flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap; }
  .slider-track li {
    display: block;
    background-color: white;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin: 0 15px;
    margin-bottom: 5px; }
    .slider-track li.active {
      background-color: #ff7800;
      box-shadow: 6px 6px 8px rgba(255, 120, 0, 0.6); }

.text-accordion {
  background-color: white;
  border-radius: 53.39px;
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .text-accordion__left, .text-accordion__right {
    flex-basis: 50%; }
    @media screen and (max-width: 992px) {
      .text-accordion__left, .text-accordion__right {
        flex-basis: 100%; } }
  .text-accordion__left {
    position: relative;
    background-color: #c0cccc;
    border-radius: 53.39px; }
    .text-accordion__left--wrapper {
      display: flex;
      flex-direction: column;
      height: 100%; }
    .text-accordion__left--title {
      text-align: center;
      color: white;
      text-transform: uppercase;
      margin: 25px auto;
      font-weight: 600; }
      @media screen and (max-width: 400px) {
        .text-accordion__left--title {
          margin: 20px 0 20px 38px;
          text-align: left;
          font-size: 11px; } }
    .text-accordion__left--image {
      border-radius: 53.39px;
      overflow: hidden;
      position: relative;
      flex: 1;
      padding: 40px; }
      .text-accordion__left--image img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        z-index: 1; }
      .text-accordion__left--image h1 {
        position: relative;
        z-index: 1;
        color: white;
        text-transform: uppercase;
        font-size: 43px;
        font-weight: 900; }
        @media screen and (max-width: 580px) {
          .text-accordion__left--image h1 {
            font-size: 30px; } }
        .text-accordion__left--image h1 span {
          font-weight: 400;
          text-transform: initial; }
        @media screen and (max-width: 380px) {
          .text-accordion__left--image h1 {
            font-size: 21px; } }
      @media screen and (max-width: 992px) {
        .text-accordion__left--image {
          padding: 100px 40px; } }
      @media screen and (max-width: 580px) {
        .text-accordion__left--image {
          padding: 80px 20px; } }
  .text-accordion__right {
    text-align: center;
    padding: 70px 10%; }
    .text-accordion__right--icon {
      width: 50px; }
    .text-accordion__right--step {
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 700;
      color: #4d5b59;
      margin-top: 25px;
      margin-bottom: 5px;
      font-size: 10px; }
    .text-accordion__right--title {
      color: #4d5b59;
      margin-bottom: 15px;
      font-weight: 700; }
    .text-accordion__right--body {
      font-size: 12px;
      color: #4d5b59;
      line-height: 22px; }
    .text-accordion__right .slider-track {
      margin-top: 20px; }
      .text-accordion__right .slider-track li:not(.active) {
        background-color: #ebf2f2; }
    @media screen and (max-width: 500px) {
      .text-accordion__right {
        padding: 30px 6%; } }
  .text-accordion__close {
    position: absolute;
    top: 0;
    right: 0;
    height: 115.18px; }

.updates-box {
  background-color: white;
  border-radius: 53.39px;
  padding: 40px; }
  .updates-box__title {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #4d5b59; }
  .updates-box__field {
    position: relative; }
    .updates-box__field textarea {
      width: 100%;
      height: 100%;
      background-color: #ebf2f2;
      border-radius: 30px;
      border: none;
      padding: 20px 20px 20px 95px;
      height: 200px;
      min-height: 100px;
      max-height: 300px;
      font-size: 14px; }
      @media screen and (max-width: 576px) {
        .updates-box__field textarea {
          padding: 89px 20px 20px 20px; } }
    .updates-box__field img {
      width: 61px;
      height: 61px;
      -o-object-fit: cover;
         object-fit: cover;
      position: absolute;
      top: 15px;
      left: 15px;
      border-radius: 15px; }
  .updates-box__actions {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap; }
    .updates-box__actions--left {
      display: flex;
      flex-wrap: wrap; }
      .updates-box__actions--left button {
        margin-right: 10px; }
    @media screen and (max-width: 768px) {
      .updates-box__actions button {
        margin-bottom: 5px; } }
    @media screen and (max-width: 380px) {
      .updates-box__actions button {
        letter-spacing: 0; } }
  @media screen and (max-width: 768px) {
    .updates-box {
      padding: 30px; } }

.feed-box {
  background-color: white;
  border-radius: 53.39px;
  padding: 30px;
  height: 668px;
  overflow: scroll; }
  .feed-box__title {
    font-size: 23px;
    color: #4d5b59;
    font-weight: 700;
    margin-bottom: 20px; }
  .feed-box__list {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .feed-box__item {
    background-color: #ffac61;
    padding: 17px;
    border-radius: 23.7993px;
    margin-bottom: 20px; }
    .feed-box__item--header {
      display: flex;
      flex-wrap: wrap; }
      .feed-box__item--header img {
        width: 39px;
        height: 39px;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 10px;
        margin-right: 10px; }
    .feed-box__item--name {
      color: #4d5b59;
      font-weight: 700;
      font-size: 16px;
      margin: 0;
      margin-bottom: -2px; }
    .feed-box__item--timestamp {
      color: white;
      font-size: 12px;
      margin: 0; }
    .feed-box__item--content {
      font-size: 14px;
      margin-top: 12px;
      color: white; }
      .feed-box__item--content p {
        font-size: 15px; }
      .feed-box__item--content > img {
        width: 100%;
        border-radius: 15px; }
      .feed-box__item--content video {
        width: 100%;
        border-radius: 15px; }

.member-plus {
  background-color: white;
  border-radius: 53.39px; }
  .member-plus__header {
    position: relative;
    border-radius: 53.39px;
    padding: 60px 40px 40px 40px;
    text-align: center;
    overflow: hidden; }
    .member-plus__header--background, .member-plus__header--overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1; }
    .member-plus__header--background {
      -o-object-fit: cover;
         object-fit: cover; }
    .member-plus__header--overlay {
      background: white;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #002147 100%); }
    .member-plus__header--content {
      position: relative;
      z-index: 2;
      color: white; }
    .member-plus__header--pill {
      width: 25px;
      height: 5px;
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      opacity: .3;
      z-index: 1;
      border-radius: 30px; }
    .member-plus__header--icon {
      width: 58px;
      margin: auto;
      margin-bottom: 30px; }
    .member-plus__header--title {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-bottom: 14px; }
    .member-plus__header--body {
      font-weight: 400;
      line-height: 22px;
      font-size: 12px; }
  .member-plus__content {
    padding: 35px 20px; }
    .member-plus__content--list {
      list-style-type: none;
      margin-left: 1em;
      padding: 0;
      margin-bottom: 38px; }
      .member-plus__content--list li {
        display: flex;
        align-items: top;
        margin-bottom: 25px;
        color: #b0c1c0;
        font-size: 13px; }
        .member-plus__content--list li > .bullet-point {
          margin-top: 3px; }
        .member-plus__content--list li:last-child {
          margin-bottom: 0; }
    .member-plus__content button {
      margin: auto; }

.bullet-point {
  border-radius: 100%;
  width: 12px;
  height: 12px;
  max-width: 12px;
  max-height: 12px;
  min-width: 12px;
  min-height: 12px;
  background-color: #ff7800;
  margin-right: 20px; }
  .bullet-point--teal {
    background-color: #0081a0; }
  .bullet-point--orange {
    background-color: #ff7800; }
  .bullet-point--dark-blue {
    background-color: #002147; }

.analytics-box {
  background-color: white;
  border-radius: 53.39px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 35px; }
  .analytics-box__menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 115px; }
  .analytics-box__left, .analytics-box__right {
    flex-basis: 50%; }
    @media screen and (max-width: 969px) {
      .analytics-box__left, .analytics-box__right {
        flex-basis: 100%; } }
  .analytics-box__left {
    background-color: #ebf2f2;
    padding: 40px;
    border-radius: 23.7993px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .analytics-box__left img {
      width: 54px; }
    .analytics-box__left--text {
      font-size: 25px;
      font-weight: 700;
      color: #4d5b59;
      margin-bottom: 0;
      margin-top: 10px; }
    .analytics-box__left--views {
      font-size: 44px;
      font-weight: 400;
      color: #728783; }
  .analytics-box__right {
    padding: 0 10px 0 45px; }
    .analytics-box__right--title {
      font-weight: 700;
      color: #4d5b59; }
    .analytics-box__right--text {
      font-size: 14px;
      color: #b0c1c0;
      margin-bottom: 30px;
      font-size: 12px;
      line-height: 23px; }
    @media screen and (max-width: 969px) {
      .analytics-box__right {
        margin-top: 20px;
        padding: 0 20px; } }

.game-box {
  background-color: #ff7800;
  border-radius: 53.39px;
  position: relative;
  display: flex;
  flex-wrap: wrap; }
  .game-box__menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 115px; }
  @media screen and (max-width: 969px) {
    .game-box__left, .game-box__right {
      flex-basis: 100%; } }
  .game-box__left {
    width: 40%;
    padding: 40px;
    border-radius: 53.39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    padding: 15px 50px; }
    .game-box__left::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: white;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 120, 0, 0.382791) 39%, rgba(255, 120, 0, 0.718925) 100%); }
    .game-box__left--content {
      position: relative;
      z-index: 1;
      text-align: center; }
    .game-box__left--icon {
      width: 60px;
      margin-bottom: 30px; }
    .game-box__left--text {
      color: white;
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 0; }
  .game-box__right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; }
    .game-box__right > img {
      width: 200px;
      margin-bottom: 30px; }

.sub-plans {
  background-color: white;
  border-radius: 53.39px;
  padding: 40px;
  padding-bottom: 120px; }
  .sub-plans__title {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #4d5b59; }
  .sub-plans__wrapper {
    margin-top: 60px; }
    @media screen and (max-width: 991px) {
      .sub-plans__wrapper {
        margin-top: 20px; } }
  .sub-plans__button {
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
    @media screen and (max-width: 991px) {
      .sub-plans__button {
        margin-top: 0;
        margin-bottom: 40px; } }
  @media screen and (max-width: 991px) {
    .sub-plans .sub-plan {
      margin-bottom: 20px;
      height: auto; } }
  @media screen and (max-width: 991px) {
    .sub-plans {
      padding-bottom: 0; } }
  @media screen and (max-width: 450px) {
    .sub-plans {
      padding: 30px 20px; } }

.sub-plan {
  height: 100%;
  background-color: #EBF2F2;
  border-radius: 20px;
  display: flex;
  flex-direction: column; }
  .sub-plan__title {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 25px 0;
    color: #728783; }
    @media screen and (max-width: 450px) {
      .sub-plan__title {
        font-size: 18px; } }
  .sub-plan__info {
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column; }
    .sub-plan__info--overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #C0CCCC;
      opacity: .77; }
    .sub-plan__info--content {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%; }
    .sub-plan__info--price {
      font-size: 36px;
      color: white;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0;
      padding: 10px 0; }
      .sub-plan__info--price span {
        font-size: 14px;
        color: #B0C1C0;
        text-transform: initial;
        font-weight: 500; }
      @media screen and (max-width: 450px) {
        .sub-plan__info--price {
          font-size: 28px; } }
    .sub-plan__info--divider {
      background-color: white;
      border: none;
      height: 1px;
      width: 100%;
      margin-top: 0; }
    .sub-plan__info--list {
      list-style-type: none;
      margin: 0;
      padding: 0 10px;
      margin-top: 15px; }
    .sub-plan__info--list-item {
      display: flex;
      align-items: top;
      font-size: 13px;
      color: white;
      margin-bottom: 20px; }
      .sub-plan__info--list-item i {
        font-size: 19px;
        margin-right: 15px;
        color: white; }
        .sub-plan__info--list-item i:before {
          color: unset; }
      @media screen and (max-width: 450px) {
        .sub-plan__info--list-item span {
          font-size: 10px; } }
    .sub-plan__info--button {
      display: inline-block;
      border: 2px solid white;
      border-radius: 50px;
      margin: 20px auto;
      padding: 8px 18px;
      color: white;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none !important;
      transition: all 0.3s ease; }
      .sub-plan__info--button:hover {
        background-color: white;
        color: black;
        transform: scale(1.05); }
      @media screen and (max-width: 450px) {
        .sub-plan__info--button {
          font-size: 9px; } }
    .sub-plan__info--wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      align-items: center; }
  .sub-plan.plus {
    transform: translateY(-30px);
    box-shadow: 10px 21px 35px rgba(255, 120, 0, 0.3); }
    @media screen and (max-width: 991px) {
      .sub-plan.plus {
        transform: translateY(0); } }
  .sub-plan.plus .sub-plan__title {
    color: #FF7800; }
  .sub-plan.plus .sub-plan__info--overlay {
    background: white;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #ff7800 60%, #ff7800 100%); }
  .sub-plan.plus .sub-plan__info--divider {
    background-color: #C0CCCC; }
  .sub-plan.pro .sub-plan__title {
    color: #103154; }
  .sub-plan.pro .sub-plan__info--overlay {
    background: white;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #002147 60%, #002147 100%); }
  .sub-plan__icon-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px; }
    .sub-plan__icon-header h4 {
      padding: 25px 25px !important; }
    .sub-plan__icon-header img {
      width: 40px;
      border-radius: 100%;
      transition: box-shadow 0.3s ease;
      cursor: pointer;
      transition: transform 0.3s ease; }
      .sub-plan__icon-header img.orange {
        box-shadow: 6px 6px 8px rgba(255, 120, 0, 0.6); }
      .sub-plan__icon-header img:hover {
        transform: scale(1.08); }

.sub-box {
  background-color: white;
  border-radius: 53.39px;
  padding: 40px; }
  .sub-box__title {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #4d5b59; }
  .sub-box__footer {
    margin-top: 30px; }
    .sub-box__footer h4 {
      color: #4D5B59;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 15px; }
    .sub-box__footer--split {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .sub-box__footer--split p {
        font-size: 13px;
        color: #728783;
        margin-bottom: 5px;
        flex: 2;
        padding-right: 20px; }
        @media screen and (max-width: 580px) {
          .sub-box__footer--split p {
            flex: 100%;
            margin-bottom: 25px;
            padding-right: 0; } }
      .sub-box__footer--split > div {
        text-align: right;
        flex: 1; }
        @media screen and (max-width: 580px) {
          .sub-box__footer--split > div {
            flex: 100%;
            text-align: left; } }

.invoices-box {
  background-color: white;
  border-radius: 53.39px;
  padding: 40px 0; }
  .invoices-box__title {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #4d5b59;
    padding: 0 40px; }
  .invoices-box__info {
    padding: 0 40px;
    margin-bottom: 30px; }
    .invoices-box__info--item {
      margin-bottom: 15px; }
      .invoices-box__info--item span {
        color: #B0C1C0; }
      .invoices-box__info--item p {
        margin-bottom: 0;
        color: #728783;
        font-weight: bold;
        font-size: 20px; }
  .invoices-box__divider {
    width: 100%;
    height: 1px;
    background-color: #EBF2F2;
    border: none; }
  .invoices-box__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0 40px; }
    @media screen and (max-width: 576px) {
      .invoices-box__list {
        padding: 0 15px; } }
  .invoices-box__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; }
    .invoices-box__list-item p {
      font-size: 16px;
      margin-bottom: 0;
      color: #728783; }
  .invoices-box__download {
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C0CCCC;
    border-radius: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    min-width: 53px;
    min-height: 53px; }
    .invoices-box__download i {
      color: white;
      font-size: 20px; }
      .invoices-box__download i:before {
        color: inherit; }
    .invoices-box__download.active, .invoices-box__download:hover {
      background-color: #FF7800;
      box-shadow: 6px 6px 8px rgba(255, 120, 0, 0.65); }
  .invoices-box__button {
    margin-top: 45px;
    text-align: center; }
  @media screen and (max-width: 576px) {
    .invoices-box {
      padding: 25px 0; } }

.subscription-overlay {
  background-color: white;
  border-radius: 53.39px;
  display: flex;
  background-color: #EBF2F2; }
  .subscription-overlay__title {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #4d5b59; }
  .subscription-overlay__left {
    flex: 1.7;
    border-radius: 53.39px 0 0 53.39px;
    background-color: white;
    padding: 40px 0 40px 40px; }
    .subscription-overlay__left--plans {
      display: flex;
      flex-wrap: wrap; }
      .subscription-overlay__left--plans .sub-option {
        margin-right: 40px;
        margin-bottom: 15px; }
        @media screen and (max-width: 450px) {
          .subscription-overlay__left--plans .sub-option {
            margin-right: 0;
            width: 100%; } }
        .subscription-overlay__left--plans .sub-option:last-child {
          margin-right: 0; }
    .subscription-overlay__left--details {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 30px 0 15px 0; }
      .subscription-overlay__left--details .number-users {
        margin-right: 30px;
        margin-bottom: 15px; }
        @media screen and (max-width: 450px) {
          .subscription-overlay__left--details .number-users {
            margin-right: 0; } }
    .subscription-overlay__left--total-price {
      font-size: 30px;
      font-weight: 700;
      color: #B0C1C0;
      margin-bottom: 15px; }
    .subscription-overlay__left--card {
      display: flex;
      flex-wrap: wrap; }
    .subscription-overlay__left--field {
      margin-bottom: 30px;
      margin-right: 15px; }
      .subscription-overlay__left--field label {
        color: #728783;
        font-size: 13px;
        margin-bottom: 15px; }
    .subscription-overlay__left--cn {
      width: 60%; }
    .subscription-overlay__left--cvv {
      width: 30%;
      max-width: 130px; }
    .subscription-overlay__left--ed > div {
      display: flex;
      flex-wrap: wrap; }
      .subscription-overlay__left--ed > div .dropdown {
        margin-right: 15px;
        margin-bottom: 10px; }
        .subscription-overlay__left--ed > div .dropdown span {
          color: #728783;
          font-weight: 400; }
    @media screen and (max-width: 992px) {
      .subscription-overlay__left {
        flex: 100%;
        border-radius: 53.39px;
        padding: 40px; } }
    @media screen and (max-width: 450px) {
      .subscription-overlay__left {
        padding: 20px; } }
  .subscription-overlay__right {
    flex: 1;
    border-radius: 0 53.39px 53.39px 0;
    position: relative;
    overflow: hidden; }
    .subscription-overlay__right::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 100%;
      left: -1px;
      top: 0;
      background-color: white;
      border-radius: 0 53.39px 53.39px 0; }
      @media screen and (max-width: 992px) {
        .subscription-overlay__right::after {
          visibility: hidden; } }
    .subscription-overlay__right .sub-plan {
      transform: translateY(0);
      box-shadow: none;
      border-radius: 0 53.39px 53.39px 0; }
      @media screen and (max-width: 992px) {
        .subscription-overlay__right .sub-plan {
          border-radius: 53.39px; } }
    @media screen and (max-width: 992px) {
      .subscription-overlay__right .sub-plan__info--list-item {
        justify-content: center; } }
    .subscription-overlay__right .sub-plan__title, .subscription-overlay__right .sub-plan__info--price, .subscription-overlay__right .sub-plan__info--wrapper {
      padding-left: 40px; }
      @media screen and (max-width: 992px) {
        .subscription-overlay__right .sub-plan__title, .subscription-overlay__right .sub-plan__info--price, .subscription-overlay__right .sub-plan__info--wrapper {
          padding-left: 0; } }
    .subscription-overlay__right .sub-plan__info {
      border-radius: 0 53px 53px 0; }
      @media screen and (max-width: 992px) {
        .subscription-overlay__right .sub-plan__info {
          border-radius: 20px; } }
    .subscription-overlay__right .sub-plan__icon-header {
      padding-left: 55px; }
      @media screen and (max-width: 992px) {
        .subscription-overlay__right .sub-plan__icon-header {
          padding-left: 15px; } }
    @media screen and (max-width: 992px) {
      .subscription-overlay__right {
        flex: 100%;
        border-radius: 53.39px; } }
  @media screen and (max-width: 992px) {
    .subscription-overlay {
      flex-wrap: wrap; } }

.sub-option {
  border-radius: 25px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: #EBF2F2;
  overflow: hidden;
  cursor: pointer; }
  .sub-option__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; }
  .sub-option__header {
    padding: 15px; }
    .sub-option__header p {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      color: #B0C1C0;
      font-size: 14px;
      letter-spacing: 3px; }
  .sub-option__divider {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #C0CCCC;
    margin: 0; }
  .sub-option__price {
    padding: 0 65px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .sub-option__price p {
      font-size: 30px;
      font-weight: 700;
      color: #B0C1C0;
      margin: 0; }
    .sub-option__price span {
      font-size: 15px;
      margin-top: -6px;
      display: block;
      font-weight: 600;
      color: #B0C1C0; }
    @media screen and (max-width: 450px) {
      .sub-option__price {
        padding: 16px 20px; } }
  .sub-option__saving {
    color: #FF7800;
    font-size: 23px;
    text-transform: uppercase;
    margin: 0;
    padding: 8px 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px; }
  .sub-option.active .sub-option__wrapper {
    background-color: #FF7800;
    border-radius: 25px; }
  .sub-option.active .sub-option__price {
    padding: 25px 65px; }
    .sub-option.active .sub-option__price p {
      color: white; }
    @media screen and (max-width: 450px) {
      .sub-option.active .sub-option__price {
        padding: 16px 20px; } }
  .sub-option.active .sub-option__header p {
    color: white; }

.number-users {
  background-color: #EBF2F2;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 28px;
  max-width: 230px; }
  .number-users img {
    width: 34px; }
    @media screen and (max-width: 450px) {
      .number-users img {
        width: 20px; } }
  .number-users p {
    margin-bottom: 0;
    padding: 0 20px;
    font-size: 13px;
    line-height: 16px;
    color: #728783; }
    @media screen and (max-width: 450px) {
      .number-users p {
        font-size: 10px;
        line-height: 12px; } }
  .number-users span {
    padding: 4px 18px;
    background: white;
    border-radius: 15px;
    color: #B0C1C0;
    font-weight: 700;
    font-size: 29px; }
    @media screen and (max-width: 450px) {
      .number-users span {
        font-size: 20px;
        padding: 4px 13px; } }
  .number-users input {
    width: 75px;
    text-align: center;
    padding-left: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    border-radius: 15px;
    color: #B0C1C0;
    font-weight: 700;
    font-size: 29px;
    border: none; }
  @media screen and (max-width: 450px) {
    .number-users {
      padding: 6px 15px; } }

.credit-card {
  border-radius: 28px;
  background-color: #EBF2F2;
  padding: 40px; }
  .credit-card__header, .credit-card__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
  .credit-card__header--logo {
    width: 97px;
    margin-bottom: 10px; }
  .credit-card__number {
    font-weight: 700;
    font-size: 19px;
    color: #728783;
    margin: 50px 0;
    letter-spacing: 1px; }
  .credit-card__footer {
    color: #728783; }
    .credit-card__footer p {
      font-size: 14px;
      margin-bottom: 0; }
  @media screen and (max-width: 400px) {
    .credit-card {
      padding: 20px; } }

/* Other */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center; }

/*# sourceMappingURL=main.css.map */
