@import '../variables';

.base-button {
    font-size: 12px;
    border-radius: 50px;
    background-color: #C0CCCC;
    border: 1.6px solid #C0CCCC;
    color: white;
    padding: 12px 45px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 17px;
    transition: all 0.3s ease;
    
}

button {
    @extend .base-button;

    &.no-cursor {
        cursor: default;
    }
}

.button {
    @extend .base-button;
    
    &.no-cursor {
        cursor: default;
    }

    &-grey-solid {
        border: 1.6px solid #C0CCCC;
        background-color: #c0cccc;

        &:hover {
            border-color: hsl(180, 11%, 74%);
            background-color: hsl(180, 11%, 74%);
        }

        & > div {
            background-color: #B0C1C0;
        }
    }

    &-orange-solid {
        border: 1.6px solid rgb(255, 120, 0);
        background-color: rgb(255, 120, 0);
        box-shadow: 5px 5px 8px rgba(255, 120, 0, .65);

        &:hover {
            border-color: hsl(28, 100%, 47%);
            background-color: hsl(28, 100%, 47%);
        }

        & > div {
            background-color: #D64C00;
        }
    }

    &-grey-outline {
        border: 1.6px solid #C0CCCC;
        background-color: transparent;
        color: #AFC0BF;

        &:hover {
            border-color: hsl(180, 11%, 74%);
            color: hsl(176, 12%, 68%)
        }

        & > div {
            background-color: transparent;
        }
    }


    &-icon-right {
        padding: 6px 6px 6px 18px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 4px;

        & > div {
            order: 2;
            width: 30px;
            border-radius: 100%;
            padding: 6px;
            margin-left: 5px;
        }

    }

    &-icon-left {
        padding: 6px 34px 6px 6px;
        font-weight: 400;

        & > div {
            width: 30px;
            border-radius: 100%;
            padding: 6px;
            margin-right: 23px;
        }
    }
}