input {
    border-radius: 30px;
    background-color: #EBF2F2;
    border: none;
    padding: 0 0 0 10px;
    width: 100%;
    padding: 13px 10px;
    padding-left: 25px;
    padding-right: 50px;
    outline: none;
    color: #728783;
    font-size: 12px;
    &::placeholder {
        color: #72878397;
    }
}

.input {
    position: relative;

    &-without-icon {
        padding-right: 25px;
    }

    &-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        width: 33px;
        height: 33px;
        border-radius: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        
        img {
            width: 100%;
        }
    }
}