@import './variables';
html, body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: $baseFontSize;
    padding: 20px;
    background-color: #e0e0e0;
}

.section-title {
    margin-bottom: 40px;
}

.group-title {
    text-transform: uppercase;
    letter-spacing: 8px;
}

.group-title {
    margin: 20px auto;
}

.section {
    margin-bottom: 60px;
}

.icons {

    &--small i {
        font-size: 25px;
    }

    &--large i {
        font-size: 60px;
    }
    
    p {
        text-transform: capitalize;
    }
    
}