@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 37px;
    letter-spacing: .37px;
    font-weight: 700;
}

h2 {
    font-size: 25px;
    letter-spacing: .825px;
}

h3 {
    font-size: 18px;
    letter-spacing: .594px
}

h4 {
    font-size: 16px;
}

p {
    font-size: 16px;
    letter-spacing: .528px;
}